html{
    background-color: #1a1a1b;
    color: white;
}

/* CSS for #heading */
#heading {
    background-color: #faf0e6;
    border-radius: 4px;
  }
  
  #heading img {
    border-radius: 10%;
    padding: 10px;
    background-color: #faf0e6;
    width: 100px;
    height: 140px;
  }
  
  /* CSS for navigation links */
  nav{
    width: 500px;
  }

  nav a {
    background-color: #faf0e6;
    color: #1a1a1b;
    padding: 4px;
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
  }

  nav a:hover{
    background-color: white;
    color: rgb(255, 0, 0);
  }
  
  /* CSS for Hi, I'm Ashish */
  #ashish h1 {
    color: #faf0e6;
    background-color: #1a1a1b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
  }
  
  /* CSS for About section */
  #about pre {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* CSS for footer */
  footer {
    background-color: #faf0e6;
    color: #1a1a1b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 500px;
    padding: 4px;
    border-radius: 4px;
  }
  
  footer a {
    color: #faf0e6;
    background-color: #1a1a1b;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
  }

  footer #developer:hover{
    background-color: white;
    color: #1a1a1b;
  }

  footer #linkedin:hover{
    background-color: #0077B5;
    color: white;
  }

  footer #github:hover{
    background-color: #2b3137;
    color: white;
  }

  footer #mail:hover{
    background-color: #c71610;
    color: white;
  }

 /* footer p{
    background-color: rgb(226, 106, 192);
  } */

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* main {
    text-align: center;
  } */
  #heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer{
      text-align: center;
  }
  